<% include ./partials/header%>

<div class="jumbotron text-center">
  <h1 class="display-4" style="font-weight: bold;">Enter Visitor Details</h1>
</div>
<div class="container text-center">
		<%  if(error && error.length > 0){ %>
		  <div class="alert alert-danger" role="alert">
			<%= error %>
		  </div>
		<% } %>  
		<%  if(success && success.length > 0){ %>
		  <div class="alert alert-success" role="alert">
			<%= success %>
		  </div>
		<% } %> 
</div> 
<div class="container" style="margin-top:80px;">
	<div id="forms">
		<form action="/visitor/checkOut" method="post">
		    <div class="form-group row">
		      <label for="inputEmail" class="col-sm-3 required">Email</label>
		      <div class="col-sm-9">
			      <input type="email" class="form-control" name="visitor_email" id="inputEmail" placeholder="Enter email" required>
			  </div>
		    </div>

		    <div class="form-group row">
		      <label for="inputPassCode" class="col-sm-3 required">Passcode</label>
		      <div class="col-sm-9">
			      <input type="number" class="form-control" name="passcode" id="inputPassCode" placeholder="Enter passcode" min="1000" max="9999" required>
			  </div>
		    </div>
		    
			<div id="formbutton">
		    	<button type="submit" class="btn btn-primary btn-lg btn-block">Check Out</button>
		    </div>		
		</form>
	</div>
</div>

<% include ./partials/footer%>