#forms {
	width: 55%; 
	margin: 25px auto; 
	padding:22px;
	box-shadow:2px 1px 10px blue; 
	border-radius:8px;
}

#formbutton {
	width: 47%; 
	margin: 5px auto;
}

label {
	font-weight: bold;
}
.required:after { 
	content:" *"; 
	color: red;
}

.jumbotron {
	/* border-bottom:2px solid gray; */
	background-image: linear-gradient(to bottom , blue, #cce0ff);
}
body{
	background-color: #e6f0ff;
}

.card-body{
	border: 1px solid gray;
	border-radius: 5px;
	background-color: #e6f0ff;
}